
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}

<title>Liên hệ</title>
<div id="subheader">
    <h1>Liện hệ</h1>
    <h3>Thông tin liên hệ với chúng tôi</h3>
</div>
<!-- subheader close -->

<div id="map-container">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.6630676550867!2d108.25432513038095!3d16.031045651812665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421744216244cf%3A0x11908a5e23ec76fd!2sFusion+Maia+Danang!5e0!3m2!1sen!2s!4v1509004091315"></iframe>
</div>

<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>Liên hệ ngay với chúng tôi!</h3>
                    Liên hệ với chúng tôi nếu bạn có bất cứ điều gì thắc mắc<br />
                    <br />
                </div>
                <div class="contact_form_holder">
                    <form name="contactForm" id='contact_form' method="post" action='send.php'>

                        <div class="col-md-7">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Tên của bạn" />
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Địa chỉ email" />
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Số điện thoại" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="title" id="title" placeholder="Tiều đề" />
                        </div>

                        <div class="col-md-12">
                            <textarea cols="10" rows="10" name="message" id="message" class="form-control" placeholder="Nội dung"></textarea>
                            <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                            <div id="mail_failed" class="error">Error, email not sent</div>

                            <p id="btnsubmit">
                                <input type="submit" id="send" value="Gửi" class="btn btn-custom" />
                            </p>
                        </div>


                    </form>
                </div>

            </div>

            <div id="sidebar" class="col-md-4">
                <!-- widget text -->

                <div class="widget widget-text">
                    <address>
                        <h4>@companyInfo.CompanyName</h4>
                        <span>@companyInfo.Address1</span>
                        <span><strong>Phone:</strong>@companyInfo.Phone1</span>
                        <span><strong>Fax:</strong>@companyInfo.Phone1</span>
                        <span><strong>Email:</strong><a href="mailto:@(companyInfo.Email1)"> @companyInfo.Email1</a></span>
                    </address>
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
<!-- content close -->


