
@{
    ViewData["Title"] = "Chi tiết phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Hotel.WebBase.Models.RoomDetailPageViewModel

<title> @ViewData["Title"]</title>
  <!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="room-single">
                <div class="col-md-8">
                    <ul class="slides single-room-carousel">

                            @foreach (var image in Model.Room.RoomImages?.OrderBy(x => x.Priority).ToList() ?? new List<Hotel.WebBase.Models.RoomImageModel>())
                            {
                                <li>
                                    <img src="@(image?.Image?.Url ?? "~/assets/img/room/pic (1).jpg")" alt="@image.Priority" />
                                </li>
                            }
                        <li>
                       
                    </ul>
                </div>

                <div class="col-md-4 ">
                    <div class="inner">
                        <div class="text">
                            <h4>Tổng quan</h4>
                            <p>@Html.Raw(Model.Room.Description)</p>
                            <div class="room-specs">
                                <h4>Đặc điểm</h4>
                                <ul>
                                    @{
                                        var jsonFeature = Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(Model.Room.FeaturesJson);

                                        for (int j = 0; j < jsonFeature.Count(); j++)
                                        {
                                            <li>@jsonFeature[j].ToString();</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>


                        <div class="price">
                           @string.Format("{0:n0}", Model.Room.Price)<em>VND</em><br/><span>1 ngày đêm</span>
                        </div>

                        <a href="#" class="btn-border">Đặt phòng ngay</a>
                    </div>
                </div>


            </div>
        </div>

        <hr>


        <div class="row">
            @{
                var relaRooms = Model.RelatedRooms;
                for (int i = 0; i < relaRooms.Count(); i++)
                {
                      <!-- room begin -->
                    <div class="col-md-6">

                        <div class="room-item item">
                            <div class="overlay">
                                <a href="#">
                                    <h1>@Html.Raw(relaRooms[i].Name)</h1>
                                </a>
                                <div class="desc">
                                   @Html.Raw(relaRooms[i].Description)
                                    <div class="price">@string.Format("{0:n0}", relaRooms[i].Price)<em>VND</em><br/><span>1 ngày đêm</span></div>
                                    <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(relaRooms[i].Slug,relaRooms[i].Id))" class="btn-border">Xem chi tiết</a>
                                </div>
                            </div>
                            <img @string.Format("src = {0}", relaRooms[i].RoomImages?.FirstOrDefault()?.Image?.Url) alt="">
                        </div>

                    </div>
                       <!-- room close -->

                }
            }
          
        </div>
    </div>
</div>
<!-- content close -->

