
@model Hotel.WebBase.Models.RoomsListPageViewModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
        var rooms = Model.Rooms;
}
   
 <!-- subheader begin -->
<div id="subheader">
    <h1>Phòng</h1>
    <h3>Hiện đại & Sang trọng</h3>
</div>
<!-- subheader close -->

    <!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row room-list">
            <div class="col-md-12">
                @for ( int i= 0; i < rooms.Count(); i++) { 
                <!-- room begin -->
                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img @string.Format("src = {0}", rooms[i].RoomImages?.FirstOrDefault()?.Image.Url) alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(rooms[i].Slug,rooms[i].Id))">
                                <h1>@Html.Raw(rooms[i].Name)</h1>
                            </a>
                            <p>
                                @Html.Raw(rooms[i].Description)
                            </p>

                            <div class="room-specs">
                                <h4>Đặc điểm</h4>
                                <ul>
                                    @{
                                      
                                        var jsonFeature = Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(rooms[i].FeaturesJson);

                                        for (int j = 0; j < jsonFeature.Count(); j++)
                                        {
                                            <li>@jsonFeature[j].ToString();</li>
                                        }
                                    }
                                   
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">@string.Format("{0:C}", rooms[i].Price)<span>/Đêm</span></div>
                        <a  href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(rooms[i].Slug,rooms[i].Id))"class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                }
            </div>
        </div>
    </div>
</div>
<!-- content close -->

