@{
    ViewData["Title"] = "Home Page";
    ViewBag.BodyClass = "internal-pages trans-header sticky";
}
@model Hotel.WebBase.Models.PhotosListPageViewModel
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="../assets/img/internal-header.jpg">
    <h1><span>Hình ảnh</span></h1>
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="">Trang chủ</a></li>
        <li class="active">Hình ảnh</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">

    <!-- Gallery Container -->
    <div class="gallery-container">
        <ul class="image-main-box clearfix">
            @foreach (var item in Model?.Photos)
            {

                <li class="item col-xs-6 col-md-4">
                    <figure>
                        <img src="@(item?.Image?.Url ?? "/assets/img/gallery/1.jpg")" alt="@(item?.Title)" />
                        <a href="@(item?.Image?.Url ?? "/assets/img/gallery/1.jpg")" class="more-details" data-title="@(item?.Title)">Enlarge</a>
                        <figcaption>
                            <h4>@(item?.Title)</h4>
                        </figcaption>
                    </figure>
                </li>
            }
        </ul>
    </div>
</div>
<!-- End of Gallery Container -->

<!-- Pagination -->
<div class="pagination-box">
    <ul class="list-inline">
        @{ 
            var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
        }
        @foreach (var item in pages)
        {
            <li class="@(item.IsActive ? "active":"")"><a href="gallery/@(item.Value)"><span>@(item.Text)</span></a></li>
        }
    </ul>
</div>
<!-- End of Pagination -->
