@{
    ViewData["Title"] = "Room details";
    ViewBag.BodyClass = "internal-pages sticky room-details trans-header";
}
@model Hotel.WebBase.Models.ServiceDetailPageViewModel
<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">

        <div class="items">
            <img src="@(Model?.Service?.CoverImage?.Url ?? "/assets/img/slider/1.jpg")" alt="@Model?.Service?.Title" />
        </div>
    </div>

    <div class="booking-title-box no-booking-form">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2>@Model?.Service?.Title</h2><!-- Title -->
            </div>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            @Html.Raw(Model?.Service.ShortDescription)
        </div>
        <div>
            @Html.Raw(Model?.Service?.Html)
        </div>
    </div>
</div>

<!-- Rooms Container -->
<div class="room-container container room-grid">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Những <span>dịch vụ</span> khác</h2><!-- Title -->
    </div>
    @foreach (var item in Model?.RelatedServices?.Take(2).ToList() ?? new List<Hotel.WebBase.Models.ServiceModel>())
    {

    <!-- Room Boxes -->
        <div class="room-box col-xs-6">
            <div class="img-container">
                <img src="@(item.CoverImage?.Url??"/assets/img/rooms/grid/5.jpg")" alt="@item.Title">
                <a href="service/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(item.Slug, item.Id))" class="btn btn-default">Xem chi tiết</a>
            </div>
            <div class="details">
                <div class="title"><a href="service/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(item.Slug, item.Id))"><span>@item.Title</span></a></div>
                <div class="desc">
                    @Html.Raw(item.ShortDescription)
                </div>
            </div>
        </div>

    }
</div>
<!-- End of Rooms Container -->
