@{
    ViewData["Title"] = "Home Page";
    ViewBag.BodyClass = "homepage trans-header sticky white-datepicker";
}
@model Hotel.WebBase.Models.HomePageViewModel
<!-- Top Slider and Booking form -->
<div id="home-top-section">
    <!-- Main Slider -->
    <div id="main-slider">
        @foreach (var topSlide in Model.TopSlides ?? new List<Hotel.WebBase.Models.TopSlideModel>())
        {

            <div class="items">
                <a href="@topSlide.Url">
                    <img src="@(topSlide.Image?.Url??"/assets/img/slider/1.jpg")" alt="3" />
                </a>
            </div>
        }
    </div>

    <!-- Booking Form -->
    <div class="booking-form-container container">
        <div class="booking-form-inner-container">
            <div id="main-booking-form" class="style-2">
                <h2>Đặt <span>phòng</span></h2>
                <form class="booking-form clearfix" action="#">
                    <!-- Do Not remove the classes -->
                    <div class="input-daterange clearfix">
                        <div class="booking-fields col-xs-6 col-md-12">
                            <input placeholder="Chọn ngày đến" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                            <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                        </div>
                        <div class="booking-fields col-xs-6 col-md-12">
                            <input placeholder="Chọn ngày đi" class="datepicker-fields check-out" type="text" name="end" />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="booking-fields col-xs-6 col-md-6">
                        <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                        <select name="room-type">
                            <option value="">Người lớn</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                            <option value="2">1</option>
                            <option value="3">2</option>
                            <option value="4">3</option>
                            <option value="5">4</option>
                            <option value="6">5</option>
                        </select>
                        <!-- End of Select boxes -->
                    </div>
                    <div class="booking-fields col-xs-6 col-md-6">
                        <select name="guest">
                            <option value="">Trẻ em</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="Số điện thoại liên hệ" class="" type="text" name="phone" />
                    </div>
                    <div class="booking-button-container">
                        <input class="btn btn-default" value="Đặt phòng ngay" type="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Top Slider and Booking form -->
<!-- Luxury Rooms -->
<div id="luxury-rooms">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Hệ thống <span>Phòng</span></h2><!-- Title -->
        <div class="subtitle">Chọn cho bạn một loại phòng tốt nhất</div><!-- Subtitle -->
    </div>

    <!-- Room Box Container -->
    <div class="room-container container">
        @{ var i = 0;}
        @foreach (var room in Model.Rooms)
        {
        <!-- Room box -->
            <div class="room-boxes @(i++%2>0?"right":"")">
                <div class="room-img-cover" style="background-image:url('@(room?.CoverImage?.Url ?? "/assets/img/rooms/1.jpg")')"></div>
                <!-- Room Image -->
                <div class="room-details col-xs-6 col-md-4">
                    <div class="title">@room.Name</div>
                    <div class="description">
                        @Html.Raw(room.Description)
                    </div>
                    <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug, room.Id))" class="btn btn-default">Xem chi tiết</a>
                </div>
                <div class="price-container col-xs-6 col-md-8">
                    <div class="price">
                        <span>@room.Price</span>
                        - Mỗi đêm
                    </div>
                </div>

            </div>
        <!--End Room box -->
        }
    </div>
</div>
<!-- Our Services -->
<div id="our-services">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Dịch vụ</h2><!-- Title -->
    </div>

    <!-- Service Slider -->
    <div id="services-box" class="owl-carousel owl-theme">
        @foreach (var service in Model.Services ?? new List<Hotel.WebBase.Models.ServiceModel>())
        {
            <div class="item">
                <img src="@(service.CoverImage?.Url ?? "/assets/img/services/1.jpg")" alt="2">
                <div class="title"><span>@service.Title</span></div>
                <div class="short-desc">
                    @Html.Raw(service.ShortDescription)
                </div>
            </div>
        }
    </div>

</div>
<!-- End of Our Services -->
<!-- End of Luxury Rooms -->
<!-- Gallery -->
<div id="articles-in-home">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Hoạt động và bài viết</h2><!-- Title -->
    </div>

    <!-- Gallery Container -->
    <div class="post-container container">
        @foreach (var article in Model.Articles)
        {
        <!-- Post boxes -->
            <div class="col-lg-4 col-lg-4 col-xs-6">
                <div class="post-box">
                    <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))">
                        <img src="@(article.CoverImage?.Url ?? "/assets/img/blog/1.jpg")" alt="@article.Title" class="post-img">
                    </a>
                    <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))" class="post-title">@article.Title</a>
                    <div class="post-desc">
                        @Html.Raw(article.ShortDescription)
                    </div>
                    <div class="post-meta clearfix">
                        <div class="post-date">@(string.Format("{0:MM/dd/yyyy}", article.CreatedDate))</div>
                    </div>
                </div>
            </div>

        }
    </div>
    <!-- End of Post Container -->

</div>
<!-- End of Gallery -->

@{
    var photos = (List<Hotel.WebBase.Models.PhotoModel>)ViewBag.PhotosInFooter;
}

@if (photos != null && photos.Count > 0)
{
    <!-- Special Packages -->
    <div id="special-packages" class="container">
        <!-- Heading box -->
        <div class="heading-box">
            <h2>Hình <span>ảnh</span></h2><!-- Title -->
            <div class="subtitle">Hình ảnh khách sạn</div><!-- Subtitle -->
        </div>
        <!-- Gallery Container -->
        <div class="gallery-container container gallery-grid">

            <!-- Gallery Container -->
            <div class="gallery-container">
                <ul class="image-main-box clearfix">
                    @foreach (var photo in photos)
                {

                        <li class="item col-xs-6 col-md-4">
                            <figure>
                                <img src="@(photo?.Image?.Url ?? "/assets/img/gallery/1.jpg")" alt="@photo.Title" />
                                <a href="@(photo?.Image?.Url ?? "/assets/img/gallery/1.jpg")" class="more-details" data-title="@photo.Title">@photo.Title</a>
                                <figcaption>
                                    <h4><span class="fa fa-search-plus" /></h4>
                                </figcaption>
                            </figure>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- End of Gallery Container -->

    </div>
}