@{
    ViewData["Title"] = "List";
}
<section class="sub_header" id="bg_general">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Tin tức và bài viết</h1>
        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="row">

        <div class="col-md-12">
            <div class="box_style_1">

                @foreach (var article in Model.Articles)
                {
                    <div class="post">
                        <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))">
                            <img src="@(article.CoverImage?.Url ?? "/img/blog-3.jpg")" alt="" class="img-responsive">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> <span>@(string.Format("{0:MM/dd/yyyy}", article.CreatedDate))</span></li>
                                </ul>
                            </div>
                        </div>
                        <h2>@Html.Raw(article.Title)</h2>
                        <p>@Html.Raw(article.ShortDescription)</p>
                        <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))" class="btn_1">Read more</a>
                    </div><!-- end post -->

                    <hr>
                }
            </div>
            <hr>

            <div class="text-center">
                <ul class="pagination">
                    @{
                        var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
                    }
                    @foreach (var item in pages)
                    {
                        <li class="@(item.IsActive ? "active":"")"><a href="articles/@(item.Value)"><span>@(item.Text)</span></a></li>
                    }
                </ul><!-- end pagination-->
            </div>
        </div><!-- End col-md-9-->

    </div><!-- End row-->
</div><!-- End container -->