@model Hotel.WebBase.Models.ServiceDetailPageViewModel
@{
    ViewData["Title"] = Model.Service.Title;
}

<div id="content" class="site-content">

    <div id="content" class="site-content">
        <!-- Parallax Effect -->
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#parallax-pagetitle').parallax("50%", -0.55);
            });</script>
        <div class="parallax-effect">
            <div id="parallax-pagetitle" style="background-image: url(http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/parallax-01.jpg);">
                <div class="color-overlay">
                    <!-- Page title -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <ol class="breadcrumb">
                                    <li><a href="">Trang chủ</a></li>
                                    <li>
                                        <a href="services">Dịch vụ</a>
                                    </li>
                                    <li class="active">@Model.Service?.Title</li>
                                </ol>

                                <h1>@Model.Service?.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Slider -->
                <div class="room-slider standard-slider mt50">
                    <div class="col-md-offset-3 col-md-6">
                        <div id="owl-standard" class="owl-carousel">
                            <div class='item mfp_open'>
                                <a href='@(Model.Service?.CoverImage?.Url ?? "/images/blank_slide_room.jpg")'>
                                    <img src='@(Model.Service?.CoverImage?.Url ?? "/images/blank_slide_room.jpg")' alt='@Model.Service?.Title' class='img-responsive'>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Room Content -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 class="lined-heading mt50">
                                            <span>
                                                Tổng quan
                                            </span>
                                        </h2>

                                        <div class="wpb_tabs wpb_content_element" data-interval="0">
                                            <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix">
                                                <div class="wpb_wrapper">
                                                    @Html.Raw(Model.Service.ShortDescription)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 class="lined-heading mt50">
                                            <span>
                                                Dịch vụ khác
                                            </span>
                                        </h2>

                                        <!-- Rooms -->
                                        <div class="rooms mt110">
                                            <div class="row room-list">

                                                @foreach (var service in Model.RelatedServices.Take(3).ToList())
                                                {
                                                    <div class="col-sm-4">
                                                        <div class="room-thumb">
                                                            <img width="356" height="228" src="@(service.CoverImage?.Url ?? "/images/blank_room.jpg")" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                                                                <div class="main">
                                                                    <h5>@service.Title</h5>
                                                                </div>
                                                                <div class="content">
                                                                    <p>@Html.Raw(service.ShortDescription)</p>

                                                                    <a href="service/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(service.Slug, service.Id))" class="btn btn-primary btn-block"> Xem chi tiết </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
