@{
    ViewData["Title"] = "Danh sách dịch vụ";
}
@model Hotel.WebBase.Models.ServicesListPageViewModel
<div id="content" class="site-content">
    <!-- Parallax Effect -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#parallax-pagetitle').parallax("50%", -0.55);
        });</script>
    <div class="parallax-effect">
        <div id="parallax-pagetitle" style="background-image: url(/images/blank_parallax.jpg);">
            <div class="color-overlay">
                <!-- Page title -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <ol class="breadcrumb">
                                <li><a href="">Trang chủ</a></li>
                                <li class="active">Dịch vụ</li>
                            </ol>

                            <h1>Danh sách dịch vụ</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rooms -->
    <div class="rooms mt100">
        <div class="container">
            <div class="row room-list">
                @foreach (var service in Model.Services)
                {

                <!-- Room -->
                    <div class="col-sm-4">
                        <div class="room-thumb">
                            <img width="356" height="228" src="@(service.CoverImage?.Url ?? "/images/blank_room.jpg")" class="img-responsive wp-post-image" alt="@service.Title" />
                            <div class="mask">
                                <div class="main">
                                    <h5>@service.Title</h5>
                                </div>
                                <div class="content">
                                    <p>
                                        @Html.Raw(service.ShortDescription)
                                    </p>

                                    <a href="service/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(service.Slug,service.Id))" class="btn btn-primary btn-block"> Xem chi tiết </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="text-center mt30">
        <ul class="pagination clearfix">
            @{
                var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
            }
            @foreach (var item in pages)
            {
                <li>
                    @if (item.IsActive)
                    {
                        <span class="page-numbers current">@item.Text</span>
                    }
                    else
                    {
                        <a class="page-numbers" href="services/@item.Value">@item.Text</a>
                    }
                </li>
            }
        </ul>
    </div>
</div>
