@{
    Layout = null;
}
@{ 
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Corsiva - Responsive Hotel Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hotel">
    <meta name="author" content="">
    <base href="@ViewBag.BaseHref" />
    <!-- LOAD CSS FILES -->
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- header begin -->
    <header>
        <!-- logo begin -->
        <div id="logo">
            <div class="inner">
                <a href="#">
                    <img @string.Format("src = {0}",companyInfo.Logo.Url)  alt="">
                </a>
            </div>
        </div>
        <!-- logo close -->
        <!-- mainmenu begin -->
        <div id="mainmenu-container">
            <ul id="mainmenu">
                <li><a href="">Trang chủ</a></li>
                <li><a href="rooms">Phòng</a></li>
                <li><a href="articles">Tin tức</a></li>
                <li><a href="gallery">Hình ảnh</a></li>
                <li><a href="services">Dịch vụ</a></li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>
        <!-- mainmenu close -->

        <div id="menu-btn"></div>
    </header>
    <!-- header close -->
    @RenderBody()

    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Về chúng tôi</h3>
                    @Html.Raw(companyInfo.LongDescription)
                </div>
                <div class="col-md-4">
                    <iframe src="@(companyInfo.FacebookIframe)" width="340" height="214" style="border:none;overflow:hidden;height:213px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4">
                    <h3>Địa chỉ</h3>
                    <address>
                        <span>@(companyInfo.Address1)</span>
                        <span><strong>Phone:</strong>:@(companyInfo.Phone1)</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">@(companyInfo.Email1)</a></span>
                    </address>

                    <div class="social-icons">
                        @if (!string.IsNullOrEmpty(companyInfo.Facebook))
                        {
                            <li><a href="@(companyInfo.Facebook)" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(companyInfo.Twitter))
                        {
                            <li><a href="@(companyInfo.Twitter)" target="_blank"><i class="fa fa-twitter "></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(companyInfo.GooglePlus))
                        {
                            <li><a href="@(companyInfo.GooglePlus)" target="_blank"><i class="fa fa-google-plus "></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(companyInfo.Skype))
                        {
                            <li><a href="@(companyInfo.Skype)" target="_blank"><i class="fa fa-skype "></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(companyInfo.YouTube))
                        {
                            <li><a href="@(companyInfo.YouTube)" target="_blank"><i class="fa fa-youtube "></i></a></li>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyright 2017 - by <a href="http://htactive.com">HT Active</a>
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="rooms">Phòng</a></li>
                                <li><a href="articles">Tin tức</a></li>
                                <li><a href="gallery">Hình ảnh</a></li>
                                <li><a href="services">Dịch vụ</a></li>
                                <li><a href="contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer close -->
    <!-- LOAD JS FILES -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.isotope.min.js"></script>
    <script src="~/assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/js/easing.js"></script>
    <script src="~/assets/js/jquery.lazyload.js"></script>
    <script src="~/assets/js/jquery.ui.totop.js"></script>
    <script src="~/assets/js/selectnav.js"></script>
    <script src="~/assets/js/ender.js"></script>
    <script src="~/assets/js/responsiveslides.min.js"></script>
    <script src="~/assets/js/jquery.flexslider-min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <!-- datepicker js -->
    <script>
        jQuery(document).ready(function () {
            jQuery('#checkin').datepicker();
            jQuery('#checkout').datepicker();
        });
    </script>

</body>
</html>
