
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Hotel.WebBase.Models.ArticlesListPageViewModel
<!-- subheader begin -->
<div id="subheader">
    <h1>Tin tức</h1>
    <h3>Thông tin mới nhất</h3>
</div>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="blog-list">
                    @foreach (var article in Model.Articles)
                    {
                        <li>
                            <div class="info">
                                <div class="date-box">
                                    <span class="day"> @article.CreatedDate.Value.Day</span>
                                    <span class="month">Tháng @article.CreatedDate.Value.Month</span>
                                </div>
                            </div>
                            <div class="preview">
                                <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))">
                                    <img src="@(article.CoverImage?.Url ?? "/assets/img/blank_block.jpg")" alt="@article.Title" class="post-img">
                                </a>
                                <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))">
                                    <h3 class="blog-title">@Html.Raw(article.Title)</h3>
                                </a>
                                @Html.Raw(article.ShortDescription)
                            </div>
                            <div class="meta-info">Đăng bởi: @article.Author></div>
                        </li>

                    }


                </ul>

                <!-- Pagination -->
                <div class="text-center ">
                    <ul class="pagination">
                        @{
                            var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
                        }
                        @foreach (var item in pages)
                        {
                            <li class="@(item.IsActive ? "active":"")"><a href="article/@(item.Value)"><span>@(item.Text)</span></a></li>
                        }
                    </ul>
                </div>
                <!-- End of Pagination -->
                @*<div class="text-center ">
                        <ul class="pagination">
                            <li><a href="#"><</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">></a></li>
                        </ul>
                    </div>*@
            </div>

            <div id="sidebar" class="col-md-4">

                <div class="widget latest_news">
                    <h3>Tin tức mới</h3>
                    <ul class="bloglist-small">
                        @foreach (var article in Model.Articles.Take(5).ToList())
                        {
                            <li>
                                <div class="date-box">
                                    <span class="day"> @article.CreatedDate.Value.Day</span>
                                    <span class="month">Tháng @article.CreatedDate.Value.Month</span>
                                </div>
                                <div class="txt">
                                    <h5><a  href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(article.Slug,article.Id))">@article.Title</a></h5>
                                    <div>
                                        <div>@Html.Raw(article.ShortDescription)</div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <!-- widget category -->
                @*<div class="widget widget_category">
                    <h3><span>Danh mục tin tức</span></h3>
                    <ul>
                        <li><a href="#"><i class="icon-folder-close"></i>Khuyến mãi</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Thực đơn yêu thích</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Nhà hàng</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Sự kiện</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Khác</a></li>
                    </ul>
                </div>*@

                <!-- widget tags -->
                @*<div class="widget widget_tags">
                        <h3><span>Tags</span></h3>
                        <ul>
                            <li><a href="#link">hotel</a></li>
                            <li><a href="#link">responsive</a></li>
                            <li><a href="#link">css3</a></li>
                            <li><a href="#link">html5</a></li>
                            <li><a href="#link">website</a></li>
                            <li><a href="#link">template</a></li>
                            <li><a href="#link">elegant</a></li>
                            <li><a href="#link">clean</a></li>
                            <li><a href="#link">jquery</a></li>
                            <li><a href="#link">php</a></li>
                            <li><a href="#link">html</a></li>
                            <li><a href="#link">css</a></li>
                        </ul>
                    </div>*@

                <!-- widget text -->
                @*<div class="widget widget-text">
                        <h3>Địa chỉ</h3>
                        <div class="map-small">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.id/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=16+Riverside+Rd,+Singapore&amp;sll=-2.547988,118.037109&amp;sspn=29.394918,50.756836&amp;ie=UTF8&amp;geocode=Fb8IFgAdu40vBg&amp;split=0&amp;hq=&amp;hnear=16+Riverside+Rd,+Singapore&amp;ll=1.444031,103.779771&amp;spn=0.014522,0.024784&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=false"></iframe>
                        </div>

                        <address>
                            <span>20 Main Street, Melbourne</span>
                            <span><strong>Phone:</strong>(200) 333 8890</span>
                            <span><strong>Fax:</strong>(200) 333 8892</span>
                            <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                            <span><strong>Web:</strong><a href="#test">http://example.com</a></span>
                        </address>


                    </div>*@

            </div>
        </div>

        <div class="map">
        </div>

    </div>
</div>
<!-- content close -->