@model Hotel.WebBase.Models.RoomDetailPageViewModel
@{
    ViewData["Title"] = Model?.Room?.Name;
}

<div id="content" class="site-content">

    <div id="content" class="site-content">
        <!-- Parallax Effect -->
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#parallax-pagetitle').parallax("50%", -0.55);
            });</script>
        <div class="parallax-effect">
            <div id="parallax-pagetitle" style="background-image: url(/images/blank_parallax.jpg);">
                <div class="color-overlay">
                    <!-- Page title -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                <ol class="breadcrumb">
                                    <li><a href="">Trang chủ</a></li>
                                    <li>
                                        <a href="rooms">Phòng</a>
                                    </li>
                                    <li class="active">@Model.Room.Name</li>
                                </ol>

                                <h1>@Model.Room.Name</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Slider -->
                <div class="room-slider standard-slider mt50">
                    <div class="col-sm-12 col-md-8">
                        <div id="owl-standard" class="owl-carousel">
                            @foreach (var image in Model.Room?.RoomImages ?? new List<Hotel.WebBase.Models.RoomImageModel>())
                            {
                                <div class='item mfp_open'>
                                    <a href='@(image?.Image?.Url ?? "/images/blank_slide_room.jpg")'>
                                        <img src='@(image?.Image?.Url ?? "/images/blank_slide_room.jpg")' alt='@(Model.Room?.Name)' class='img-responsive'>
                                    </a>
                                </div>

                            }
                        </div>
                    </div>
                </div>


                <!-- Reservation form -->
                <div id="reservation-form" class="mt50 clearfix">
                    <div class="col-sm-12 col-md-4">
                        <form class="reservation-vertical clearfix" role="form" method="post"
                              action="http://www.slashdown.net/starhotel-wp/wp-content/themes/starhotel/inc/sendmail/reservation.php"
                              name="reservationform" id="reservationform">
                            <h2 class="lined-heading"><span>Đặt giữ phòng</span></h2>
                            <div class="price">
                                <h4>@Model.Room.Name</h4> <span class="price">@Model.Room.Price</span>
                            </div>
                            <!-- Error message -->
                            <div id="message"></div>
                            <div class="form-group">
                                <label for="email" accesskey="E">Email</label>
                                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Please fill in your email"> <i class="fa fa-info-circle fa-lg"> </i> </div>
                                <input name="email" type="text" id="email" value="" class="form-control" placeholder="Email của bạn" />
                            </div>
                            <div class="form-group">
                                <label for="phone" accesskey="P">Số điện thoại</label>
                                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Please add your country code"><i class="fa fa-info-circle fa-lg"> </i></div>
                                <input name="phone" type="text" id="phone" value="" class="form-control" placeholder="Số điện thoại của bạn" />
                            </div>
                            <div class="form-group">
                                <select class="hidden" name="room" id="room">
                                    <option selected="selected">Double Bedroom</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="checkin">Nhận phòng</label>
                                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Nhận phòng trước 11:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>

                                <i class="fa fa-calendar infield"></i>
                                <input name="checkin" type="text" id="checkin" value="" class="form-control" placeholder="Nhận phòng" />
                            </div>
                            <div class="form-group">
                                <label for="checkout">Trả phòng</label>
                                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Trả phòng sau 12:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>

                                <i class="fa fa-calendar infield"></i>
                                <input name="checkout" type="text" id="checkout" value="" class="form-control" placeholder="Trả phòng" />
                            </div>
                            <div class="form-group">
                                <div class="guests-select">
                                    <label>Số lượng </label>
                                    <i class="fa fa-user infield"></i>
                                    <div class="total form-control" id="test">1</div>
                                    <div class="guests">
                                        <div class="form-group adults">
                                            <label for="adults">Người lớn</label>
                                            <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="+18 years">
                                                <i class="fa fa-info-circle fa-lg"> </i>
                                            </div>
                                            <select name="adults" id="adults" class="form-control">
                                                <option value='1'>1 Người</option>
                                                <option value='2'>2 Người</option>
                                                <option value='3'>3 Người</option>
                                            </select>
                                        </div>
                                        <div class="form-group children">
                                            <label for="children">Trẻ em</label>
                                            <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="0 till 18 years">
                                                <i class="fa fa-info-circle fa-lg"> </i>
                                            </div>
                                            <select name="children" id="children" class="form-control">
                                                <option value='0'>0 Trẻ</option>
                                                <option value='1'>1 Trẻ</option>
                                                <option value='2'>2 Trẻ</option>
                                                <option value='3'>3 Trẻ</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-ghost-color button-save btn-block">Lưu</button>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Đặt ngay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Room Content -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 class="lined-heading mt50">
                                            <span>
                                                Chi tiết phòng
                                            </span>
                                        </h2>
                                        @{
                                            var features = Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(Model.Room.FeaturesJson);
                                            var groupByThree = features.Select((x, i) => new { x, i })
                                                .GroupBy(r => r.i / 3, x => x.x).ToList();
                                        }
                                        <table class="table table-striped mt30">
                                            <tbody>
                                                @foreach (var group in groupByThree)
                                                {
                                                    <tr>
                                                        @foreach (var item in group)
                                                        {
                                                            <td>
                                                                <i class="fa fa-check-circle"></i> @item
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 class="lined-heading mt50">
                                            <span>
                                                Tổng quan
                                            </span>
                                        </h2>

                                        <div class="wpb_tabs wpb_content_element" data-interval="0">
                                            <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix">
                                                <div class="wpb_wrapper">
                                                    @Html.Raw(Model.Room.Description)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 class="lined-heading mt50">
                                            <span>
                                                Phòng khác
                                            </span>
                                        </h2>

                                        <!-- Rooms -->
                                        <div class="rooms mt110">
                                            <div class="row room-list">
                                                @foreach (var room in Model.RelatedRooms.Take(3).ToList())
                                                {
                                                <!-- Room -->
                                                    <div class="col-sm-4 ">
                                                        <div class="room-thumb">
                                                            <img width="356" height="228" src="@(room.CoverImage?.Url ?? "/images/blank_room.jpg")" class="img-responsive wp-post-image" alt="@room.Name" />                            <div class="mask">
                                                                <div class="main">
                                                                    <h5>@room.Name</h5>
                                                                    <div class='price'> @room.Price<span>mỗi đêm</span></div>
                                                                </div>
                                                                <div class="content">
                                                                    <p>
                                                                        @Html.Raw(room.Description)
                                                                    </p>

                                                                    <div class="row">
                                                                        @{ var features2 = Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(room.FeaturesJson).Take(6).ToList();}
                                                                        <div class="col-xs-6">
                                                                            <ul class="list-unstyled">
                                                                                @foreach (var item in features2.Take(3).ToList())
                                                                                {
                                                                                    <li><i class='fa fa-check-circle'></i> @item</li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <ul class="list-unstyled">
                                                                                @foreach (var item in features2.Skip(3).ToList())
                                                                                {
                                                                                    <li><i class='fa fa-check-circle'></i> @item</li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))" class="btn btn-primary btn-block"> Xem chi tiết </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                            }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
