@{
    ViewData["Title"] = "Danh sách phòng";
}
@model Hotel.WebBase.Models.RoomsListPageViewModel

<div id="content" class="site-content">
    <!-- Parallax Effect -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#parallax-pagetitle').parallax("50%", -0.55);
        });</script>
    <div class="parallax-effect">
        <div id="parallax-pagetitle" style="background-image: url(/images/blank_parallax.jpg);">
            <div class="color-overlay">
                <!-- Page title -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <ol class="breadcrumb">
                                <li><a href="">Trang chủ</a></li>
                                <li class="active">Phòng</li>
                            </ol>

                            <h1>Danh sách phòng</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rooms -->
    <div class="rooms mt100">
        <div class="container">
            <div class="row room-list">
                @foreach (var room in Model.Rooms)
                {
                <!-- Room -->
                    <div class="col-sm-4">
                        <div class="room-thumb">
                            <img width="356" height="228" src="@(room.CoverImage?.Url ?? "/images/blank_room.jpg")" class="img-responsive wp-post-image" alt="@room.Name" />
                            <div class="mask">
                                <div class="main">
                                    <h5>@room.Name</h5>
                                    <div class='price'> @room.Price<span>mỗi đêm</span></div>
                                </div>
                                <div class="content">
                                    <p>@Html.Raw(room.Description)</p>
                                    <div class="row">
                                        @{ var features = Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(room.FeaturesJson).Take(6).ToList();}
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled">
                                                @foreach (var item in features.Take(3).ToList())
                                                {
                                                    <li><i class='fa fa-check-circle'></i> @item</li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled">
                                                @foreach (var item in features.Skip(3).ToList())
                                                {
                                                    <li><i class='fa fa-check-circle'></i> @item</li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                    <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug, room.Id))" class="btn btn-primary btn-block"> Xem chi tiết </a>
                                </div>
                            </div>
                        </div>
                    </div>
                                            }

            </div>
        </div>
    </div>
    <div class="text-center mt30">
        <ul class="pagination clearfix">
            @{
                var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
            }
            @foreach (var item in pages)
            {
                <li>
                    @if (item.IsActive)
                    {
                        <span class="page-numbers current">@item.Text</span>
                    }
                    else
                    {
                        <a class="page-numbers" href="rooms/@item.Value">@item.Text</a>
                    }
                </li>
            }
        </ul>
    </div>
</div>
