@model Hotel.WebBase.Models.HomePageViewModel;
@{
    var slider = Model.TopSlides;
    var rooms = Model.Rooms;
    var services = Model.Services.Take(4).ToList();
}

<!-- slider -->
<div id="slider">
    <div class="callbacks_container">
        <ul class="rslides pic_slider">

            @for (int i = 0; i < slider.Count(); i++)
            {
                <li>
                    <div class="text-wrap">
                        <div class="inner">
                            <div class="mid">
                                <h3>@Html.Raw(slider[i].Text2)</h3>
                                <h1>@Html.Raw(slider[i].Text1)</h1>
                                <div class="desc">
                                    @Html.Raw(slider[i].Text3);
                                </div>
                            </div>
                        </div>

                    </div>

                    <img @string.Format("src = {0}", slider[i].Image.Url) alt="">

                </li>
            }
        </ul>
    </div>
</div>
<!-- slider close -->

<div class="clearfix"></div>

<div class="container" style="padding-top:50px">
    <!---begin booking-->
    <div class="col-md-12">
        <div class="contact_form_holder">
            <form name="contactForm" id='booking_form' method="post" action='reservation.php'>
                <div class="col-md-8">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Tên của bạn*" />
                    </div>

                    <div class="col-md-4">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Địa chỉ email*" />
                        <div id="error_email" class="error">Please check your email</div>
                    </div>

                    <div class="col-md-4">
                        <select name="guest" id="guest" class="form-control">
                            <option>Số người</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>>5</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="checkin" id="checkin" placeholder="Ngày thuê" />
                        <div id="error_datepicker" class="error">Xin nhập lai</div>
                    </div>

                    <div class="col-md-4">
                        <input type="text" class="form-control" name="checkout" id="checkout" placeholder="Ngày trả" />
                        <div id="error_person_num" class="error">Xin nhập lại</div>
                    </div>

                    <div class="col-md-4">
                        <select name="room" id="room" class="form-control">
                            <option>Chọn phòng</option>
                            @for (int j = 0; j < rooms.Count(); j++)
                            {
                                <option>@rooms[j].Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <textarea cols="10" rows="5" name="message" id="message" class="form-control" placeholder="Ghi chú"></textarea>
                    <div id="error_message" class="error">Please check your message</div>
                    <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                    <div id="mail_failed" class="error">Error, email not sent</div>

                    <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                    <div id="mail_failed" class="error">Error, email not sent</div>

                    <p id="btnsubmit">
                        <input type="submit" id="send" value="Đặt phòng" class="btn btn-custom" />
                    </p>
                </div>
            </form>
        </div>

    </div>
    <!---end booking-->
</div>

<!-- content begin -->
<div id="content" class="no-top no-bottom">


    <div class="fx custom-carousel-1">
        @for (int i = 0; i < rooms.Count(); i++)
        {
            <div class="room-item item">
                <div class="overlay">
                    <a href="single-room.html">
                        <h1>@Html.Raw(rooms[i].Name) </h1>
                    </a>
                    <div class="desc">
                        @Html.Raw(rooms[i].Description);
                        <div class="price">@string.Format("{0:C}", rooms[i].Price)<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                </div>
                <img @string.Format("src = {0}", rooms[i].RoomImages?.FirstOrDefault()?.Image.Url) alt="">
            </div>
        }
    </div>

    <section>

        <div class="container">
            <div class="row">
                @for (int i = 0; i < services.Count(); i++)
                {
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="fa fa-bell-o"></i>
                            <div class="text">
                                <h3>@Html.Raw(services[i].Title)</h3>
                                @Html.Raw(services[i].ShortDescription)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


    @*<section id="section-about-1" class="dark side-bg">
        <div class="col-md-6 col-md-offset-6 pull-right image-container">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="inner-padding">
                        <ul class="client-quotes animated" data-animation="fadeIn">
                            <li>
                                <div class="text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                                <span class="name">Tina Tunnel</span>
                                <span class="company">Microsoft</span>
                            </li>

                            <li>
                                <div class="text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                                <span class="name">Sandra Bullock</span>
                                <span class="company">Apple</span>
                            </li>

                            <li>
                                <div class="text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                                <span class="name">Angelina</span>
                                <span class="company">Samsung</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>*@


    @*<section class="call-to-action text-center">
            <a href="#" class="btn-big-border">Make Your Reservation</a>
        </section>*@


</div>


<!-- content close -->
