@{
    ViewData["Title"] = "Room details";
    ViewBag.BodyClass = "internal-pages sticky room-details trans-header";
}
@model Hotel.WebBase.Models.RoomDetailPageViewModel
<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        @foreach (var image in Model.Room.RoomImages?.OrderBy(x=>x.Priority).ToList() ?? new List<Hotel.WebBase.Models.RoomImageModel>())
        {
            <div class="items">
                <img src="@(image?.Image?.Url ?? "/assets/img/slider/3.jpg")" alt="@image.Priority" />
            </div>
        }
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>@(Model.Room.Name)</span></h2>
                <div class="subtitle price">@(Model.Room.Price)<span>- Mỗi đêm</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Chọn ngày đến" class="datepicker-fields check-in" type="text" name="start" />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Chọn ngày đi" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Người lớn</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Trẻ em</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="Đặt phòng ngay" type="submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            @Html.Raw(Model.Room.Description)
        </div>
        <ul class="services list-inline">
            @foreach (var feature in Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(Model.Room.FeaturesJson))
            {
                <li><i class="fa fa-check"></i>@feature</li>
            }
        </ul>
    </div>
</div>

<!-- Rooms Container -->
<div class="room-container container room-grid">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Xem <span>Phòng</span> khác</h2><!-- Title -->
    </div>
    @foreach (var room in Model.RelatedRooms?.Take(2).ToList() ?? new List<Hotel.WebBase.Models.RoomModel>())
    {

    <!-- Room Boxes -->
        <div class="room-box col-xs-6">
            <div class="img-container">
                <img src="@(room?.CoverImage?.Url ?? "/assets/img/rooms/grid/5.jpg")" alt="">
                <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))" class="btn btn-default">Xem thêm</a>
            </div>
            <div class="details">
                <div class="title"><a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))"><span>@room.Name</span></a></div>
                <div class="desc">
                    @Html.Raw(room.Description)
                </div>
                <div class="price">
                    <span>@(room.Price)</span>
                    - Mỗi đêm
                </div>
            </div>
        </div>

    }
</div>
<!-- End of Rooms Container -->
