@{
    ViewData["Title"] = "Room details";
    ViewBag.BodyClass = "internal-pages trans-header sticky";
}
@model Hotel.WebBase.Models.ArticleDetailPageViewModel
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="/assets/img/internal-header.jpg">
    <h1>Xem tin tức và bài viết</h1>
    <ol class="breadcrumb">
        <li><a href="">Trang chủ</a></li>
        <li><a href="articles">Tin tức</a></li>
        <li class="active">@Model.Article?.Title</li>
    </ol>
</div>
<div class="main-content container">
    <div class="page-content col-md-12">
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box">
                <img src="@(Model?.Article?.CoverImage?.Url ?? "/assets/img/blank_block.jpg")" alt="@(Model?.Article?.Title)" class="post-img">
                <a href="article/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(Model?.Article?.Slug, Model?.Article?.Id ?? 0))" class="post-title">@(Model?.Article?.Title)</a>
                <div class="post-desc">
                    @(Html.Raw(Model.Article.Html))
                </div>
            </div>
        </div>
    </div>
</div>

