@{
    ViewData["Title"] = "Room details";
}
@model Hotel.WebBase.Models.RoomDetailPageViewModel
<section class="sub_header" id="bg_room">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>@Model.Room.Name</h1>
        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="row">
        <div class="col-lg-9 col-md-8" id="single_tour_desc">
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">
                    @foreach (var image in Model.Room.RoomImages?.OrderBy(x => x.Priority).ToList() ?? new List<Hotel.WebBase.Models.RoomImageModel>())
                    {
                        <div class="sp-slide">
                            <img alt="" class="sp-image"
                                 data-src="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")"
                                 data-small="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")"
                                 data-medium="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")"
                                 data-large="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")"
                                 data-retina="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")">
                        </div>
                    }
                </div>
                <div class="sp-thumbnails">
                    @foreach (var image in Model.Room.RoomImages?.OrderBy(x => x.Priority).ToList() ?? new List<Hotel.WebBase.Models.RoomImageModel>())
                    {
                        <img alt="" class="sp-thumbnail" src="@(image?.Image?.Url ?? "/img/room_photo/1_small.jpg")">
                    }
                </div>
            </div>
            <div id="single_room_feat">
                <ul></ul>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Mô tả</h3>
                </div>
                <div class="col-md-9">
                    <p>
                        @Model.Room.Description
                    </p>
                    <h4>Dịch vụ</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ul class="list_ok">
                                @foreach (var feature in Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(Model.Room.FeaturesJson))
                                {
                                    <li>@feature</li>
                                }
                            </ul>
                        </div>
                    </div><!-- End row  -->
                    <h4>Giá phòng</h4>
                    <!-- start pricing table -->
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>1 ngày đêm</td>
                                <td>@(string.Format("{0:n0}", @Model.Room.Price))<em> VNĐ</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End col-md-9  -->
            </div><!-- End row  -->

            <hr>

        </div><!-- End col-lg-9 -->

        <div class="col-lg-3 col-md-4">
            <div class="box_style_1" id="book_in">
                <h3>Đăng ký</h3>
                <div id="message-booking"></div>
                <form role="form" method="post" action="assets/check_avail.php" id="check_avail" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Ngày đến</label>
                                <input class="date-pick form-control" data-date-format="M d, D" type="text" id="check_in" name="check_in" placeholder="Ngày đến">
                                <span class="input-icon"><i class=" icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Ngày đi</label>
                                <input class="date-pick form-control" data-date-format="M d, D" type="text" id="check_out" name="check_out" placeholder="Ngày đi">
                                <span class="input-icon"><i class=" icon-calendar"></i></span>
                            </div>
                        </div>
                    </div><!-- End row -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Người lớn</label>
                                <div class="qty-buttons">

                                    <input type="text" name="adults" id="adults" value="" class="form-control" placeholder="0">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Trẻ em</label>
                                <div class="qty-buttons">

                                    <input type="text" name="children" id="children" value="" class="form-control" placeholder="0">

                                </div>
                            </div>
                        </div>
                    </div><!-- End row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Room type</label>
                                <select class="form-control" name="room_type" id="room_type">
                                    <option value="">Chọn phòng</option>
                                    <option value="Single Room">Single Room</option>
                                    <option value="Double Room">Double Room</option>
                                    <option value="Luxury Double Room">Luxury Double Room</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" name="name_booking" id="name_booking" placeholder="Tên">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email_booking" id="email_booking" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="submit" value="Đăng ký" class="btn_full" id="submit-booking">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End Container -->