
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Hotel.WebBase.Models.ServicesListPageViewModel;
   @{ 
       var services = Model.Services;
   }
   <!-- subheader begin -->
<div id="subheader">
    <h1>Dịch vụ</h1>
    <h3>Five Stars Hotel</h3>
</div>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">
    @for( int i = 0; i < services.Count(); i++) {
    <section class="side-bg">
        <div class="col-md-6  @((i%2==0)?"col-md-offset-6":"") image-container">
                <div class="background-image" style="background:url('@services[i].CoverImage.Url')"></div>
                @*<img class="service-image" src="@services[i].CoverImage.Url" />*@
        </div>

        <div class="container ">
            <div class="row">
                <div class="col-md-5  @((i%2==0)?"":"col-md-offset-7")">
                    <div class="inner-padding">
                        <h2>@services[i].Title</h2> 
                         @Html.Raw(@services[i].ShortDescription);
                        <div class="small-border"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    }

   
</div>
<!-- content close -->
