@{
    ViewData["Title"] = "Home Page";
    ViewBag.BodyClass = "internal-pages trans-header sticky";
}
@model Hotel.WebBase.Models.RoomsListPageViewModel
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="/assets/img/internal-header.jpg">
    <h1>Danh sách phòng</h1>
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Danh sách phòng</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Rooms Container -->
<div class="room-container container room-list">
    @foreach (var room in Model.Rooms ?? new List<Hotel.WebBase.Models.RoomModel>())
    {
    <!-- Room Boxes -->
        <div class="room-box clearfix">
            <div class="img-container col-xs-6">
                <img src="@(room?.CoverImage?.Url ?? "/assets/img/blank_rooms_grid.jpg")" alt="1">
                <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))" class="btn btn-default">Xem thêm</a>
            </div>
            <div class="details col-xs-6">
                <div class="title"><a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))">@(room.Name)</a></div>
                <div class="desc">
                    @(Html.Raw(room.Description))
                    <ul class="facilities list-inline">
                        @foreach (var feature in Hotel.WebBase.Helpers.RoomFeaturesParser.Parse(room.FeaturesJson))
                        {
                            <li><i class="fa fa-check"></i>@(feature)</li>

                        }
                    </ul>
                </div>
                <div class="price">
                    <span>@(room.Price)</span>
                    - Mỗi đêm
                </div>
            </div>
        </div>
    }

</div>
<!-- End of Rooms Container -->
<!-- Pagination -->
<div class="pagination-box">
    <ul class="list-inline">
        @{ 
            var pages = Hotel.WebBase.Helpers.PaginationHelper.GetPages(Model.CurrentPage, Model.TotalPage);
        }
        @foreach (var item in pages)
        {
            <li class="@(item.IsActive ? "active":"")"><a href="rooms/@(item.Value)"><span>@(item.Text)</span></a></li>
        }
    </ul>
</div>
<!-- End of Pagination -->
