<!DOCTYPE html>
@{
    string activePage = (string)ViewBag.TabName;
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(companyInfo.CompanyName) - @(ViewData["Title"] ?? "")</title>
    <base href="@ViewBag.BaseHref" />

    <style>
        footer .widget .news-content h4 {
            font-size: 14px !important;
        }
    </style>

    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/www.slashdown.net\/starhotel-wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.6" } };
        !function (a, b, c) { function d(a) { var b, c, d, e, f = String.fromCharCode; if (!k || !k.fillText) return !1; switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) { case "flag": return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c); case "emoji4": return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d"); for (i = Array("flag", "emoji4"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <link rel='stylesheet' id='contact-form-7-css' href='~/lib/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/lib/css/settings.css' media='all' />
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1464770932019 {
            margin-top: 50px !important;
        }

        .vc_custom_1464770950170 {
            margin-top: 50px !important;
        }

        .vc_custom_1464770990837 {
            margin-top: 50px !important;
        }

        .vc_custom_1464771000491 {
            margin-top: 25px !important;
        }
    </style>

    <link rel='stylesheet' id='animate_css-css' href='~/css/animate.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrapwp_css-css' href='~/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome_css-css' href='~/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owlcarousel_css-css' href='~/css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme_css-css' href='~/css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific_popup_css-css' href='~/css/magnific_popup.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jqueryui_css-css' href='~/css/jquery-ui-1.10.4.custom.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='theme_css-css' href='~/css/theme.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='stylesheet' id='responsive_css-css' href='~/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style_css-css' href='~/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='~/lib/css/js_composer.min.css' type='text/css' media='all' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type='text/javascript' src='~/js/jquery.js'></script>
    <script type='text/javascript' src='~/js/jquery.gmap.min.js'></script>
    <script type='text/javascript' src='~/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/lib/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='~/lib/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.parallax-1.1.3.js'></script>
    <script type="text/javascript" src="~/lib/js/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution.extension.navigation.min.js"></script>

    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>
<body class="home page-template page-template-page-slider-reservation page-template-page-slider-reservation-php page page-id-8 wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive">
    <link rel="stylesheet" property="stylesheet" href="~/css/turquoise.css">
    <div id="page" class="hfeed site">
        <!-- Top header -->
        <div id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="th-text th-left-center">
                            <div class="th-item"> <a href="tel:@(companyInfo.Phone1)"><i class="fa fa-phone"></i> @(companyInfo.Phone1)</a> </div>
                            <div class="th-item"> <a href="mailto:@(companyInfo.Email1)"><i class="fa fa-envelope"></i> @(companyInfo.Email1)</a></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="th-text th-right-center hidden-xs">
                            <div class="th-item hidden-xs">
                                <div class="social-icons">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header>
            <div class="navbar yamm navbar-default" id="sticky">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">
                            <!-- Logo -->
                            <div id="logo">
                                <img id="default-logo" src="@(companyInfo.Logo?.Url ?? "images/blank_logo.png")" alt="@(companyInfo.CompanyName)" style="height:44px;">
                                <img id="retina-logo" src="@(companyInfo.Logo?.Url ?? "images/blank_logo.png")" alt="@(companyInfo.CompanyName)" style="height:44px;">
                            </div>
                        </a>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul id="menu-primary" class="nav navbar-nav">
                            <li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home @(activePage == "home" ? "active active" : "")">
                                <a href="">Trang chủ</a>
                            </li>
                            <li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-room @(activePage == "room" ? "active active" : "")">
                                <a href="rooms">Phòng</a>
                            </li>
                            <li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-service @(activePage == "service" ? "active active" : "")">
                                <a href="services">Dịch vụ</a>
                            </li>
                            <li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-article @(activePage == "article" ? "active active" : "")">
                                <a href="articles">Tin tức</a>
                            </li>
                            <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-gallery @(activePage == "gallery" ? "active active" : "")">
                                <a href="gallery">Hình ảnh</a>
                            </li>
                            <li id="menu-item-258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-contact @(activePage == "contact" ? "active active" : "")">
                                <a href="contact">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Body -->
        @RenderBody()

        <!-- Footer -->
        <footer>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="widget">
                            <h4>Thông tin khách sạn</h4>
                            <div class="textwidget">
                                @Html.Raw(companyInfo.ShortDescription)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="widget">
                            <h4>Liên kết facebook</h4>
                            <div class="widget-content">
                                <iframe src="@(companyInfo.FacebookIframe)" width="340" height="214" style="border:none;overflow:hidden;height:213px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="widget">
                            <h4>Địa chỉ</h4>
                            <div class="textwidget">
                                <address>
                                    <strong>@(companyInfo.CompanyName)</strong><br />
                                    @(companyInfo.Address1)<br />
                                    @if (!string.IsNullOrEmpty(companyInfo.Address2))
                                    {
                                        <span>@(companyInfo.Address2) </span><br />
                                    }
                                    <abbr title="Phone">P:</abbr> <a href="tel:@(companyInfo.Phone1)">@(companyInfo.Phone1)</a><br>
                                    <abbr title="Email">E:</abbr> <a href="mailto:@(companyInfo.Email1)">@(companyInfo.Email1)</a><br>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="col-xs-12 text-center"> &copy; 2017. Xây dựng và thiết kế bởi <a href="http://www.htactive.com" target="_blank">HT Active</a>. </div>
                </div>
            </div>
        </footer>
        <!-- Go-top Button -->
        <div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>
    </div>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <link rel='stylesheet' id='font-awesome-css' href='~/css/font-awesome.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/lib/js/jquery.form.min.js'></script>
    <script type='text/javascript' src='~/lib/js/scripts.js'></script>
    <script type='text/javascript' src='~/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/js/bootstrap-hover-dropdown.min.js'></script>
    <script type='text/javascript' src='~/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.nicescroll.js'></script>
    <script type='text/javascript' src='~/js/jquery.magnific_popup.js'></script>
    <script type='text/javascript' src='~/js/jquery-ui-1.10.4.custom.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.sticky.js'></script>
    <script type='text/javascript' src='~/js/jquery.forms.js'></script>
    <script type='text/javascript' src='~/js/waypoints.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='~/js/skip-link-focus-fix.js'></script>
    <script type='text/javascript' src='~/js/comment-reply.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var object_sh_gmaps = { "mapaddress": "Calle Hamburgo, Las Palmas, Spanje", "maplatitude": "", "maplongitude": "", "mapicon": "http:\/\/localhost\/wordpress\/wp-content\/themes\/starhotel\/images\/ui\/gmap-icon.png", "mappopover": "                    <h4>Our hotel<\/h4><p>This is our hotel<\/p>                ", "mapiconwidth": "42", "mapiconheight": "53", "mapzoom": "12" };
        var object_sh_date = { "datepickerformat": "mm\/dd\/yy" };
        var object_sh_translations = { "translations_months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "translations_days": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"] };
        var object_sh_gmaps = { "mapaddress": "Calle Hamburgo, Las Palmas, Spanje", "maplatitude": "", "maplongitude": "", "mapicon": "http:\/\/localhost\/wordpress\/wp-content\/themes\/starhotel\/images\/ui\/gmap-icon.png", "mappopover": "                    <h4>Our hotel<\/h4><p>This is our hotel<\/p>                ", "mapiconwidth": "42", "mapiconheight": "53", "mapzoom": "12" };
        var object_sh_date = { "datepickerformat": "mm\/dd\/yy" };
        var object_sh_translations = { "translations_months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "translations_days": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"] };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/js/custom.js'></script>
    <script type='text/javascript' src='~/js/wp-embed.min.js'></script>
    <script type='text/javascript' src='~/lib/js/js_composer_front.min.js'></script>
    <script type='text/javascript' src='~/js/core.min.js'></script>
    <script type='text/javascript' src='~/js/widget.min.js'></script>
    <script type='text/javascript' src='~/js/tabs.min.js'></script>
    <script type='text/javascript' src='~/lib/js/jquery-ui-tabs-rotate.min.js'></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
